{% extends "base.html" %}
{% load static i18n %}


{% block content %}

  {% if request.user.is_authenticated %}
    <div
      class="flex"
      x-data="state()"
      x-init="$watch('patientId', value => watchPatientId(value)); $watch('sleepSessions', setupCanvas)"
      @audio-start-event.document="startAudio"
    >

      <!-- start sidebar -->
      <div
        id="sidebar"
        class="bg-lt-blue h-screen p-5 pt-8 relative duration-300"
        :class="sidebarOpen ? 'w-72' : 'w-20'"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-6 h-6 bg-white text-dark-purple rounded-full absolute -right-3 top-9 border border-dark-purple cursor-pointer p-1"
          :class="sidebarOpen && 'rotate-180 duration-300'"
          x-on:click="toggleSidebar()"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>

        <div
          id="search-container"
          class="flex items-center rounded-md bg-light-white px-2.5"
          :class="sidebarOpen ? 'py-0' : 'py-2'"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white block cursor-pointer"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
          </svg>
          <input
            type="search"
            placeholder="Patient ID"
            x-model="patientId"
            @keyup.enter="getPatientPeriods(patientId)"
            class="text-base bg-transparent w-full text-white border-none focus:ring-0"
            :class="sidebarOpen ? '' : 'hidden p-1'"
          />
        </div>

        <div
          id="session-list"
          class="max-w-md mx-auto grid grid-cols-1 gap-2 mt-6 duration-300"
          x-show="sidebarOpen"
        >

          <template x-if="patientPeriods.length > 0">
            <h4 x-text="patientName" class="text-snorpheus-dk-blue font-semibold font-sans"></h4>
          </template>

          <div x-show="patientPeriods.length > 0">
            <hr class="my-2 h-px bg-gray-200 border-0 dark:bg-gray-700">
          </div>

          <div class="pt-2">
            
            <template x-for="period in patientPeriods">

              <div class="flex-row pt-1">
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4" style="display:inline-block; margin-right:2px;">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                </svg>
                
                <span x-text="new Date(period.start_date).toLocaleDateString() + ' - ' + new Date(period.end_date).toLocaleDateString()"
                  class="font-medium text-sm text-snorpheus-dk-blue"></span>

                <div class="pt-2 pl-5">
                  <!-- <div class="pb-2">Sessions</div> -->
                  <template x-for="session in period.sleep_sessions">
                    <div class="flex mb-4">
                      <input
                        id="default-checkbox"
                        type="checkbox"
                        @click="getSessionPosition(session.session_id)"
                        value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                      >
                      <label
                        for="default-checkbox"
                        class="ml-2 text-sm font-medium text-dk-gray"
                      >
                        <span x-text="'Session ' + session.id"></span><br>
                        <span x-text="new Date(session.device_start_time).toLocaleString()"></span>
                      </label>
                    </div>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <!-- end sidebar -->


      <!-- audio player -->
      <audio id="audioPlayer" x-ref="audio" x-effect="() => audioPath && $el.load()">
        <source :src="audioPath" type="audio/wav" />
      </audio>
      <!-- end audio player -->

      
      <!--  start main container -->

      <div class="p-8 w-full" style="max-width: 70rem;">
        
        <div x-show="!patientName || !sleepSessions.length" class="mx-auto justify-center w-1/2 mt-12">

          <!-- snoring emoji -->
          <div class="w-44 mx-auto">
            <img src="{% static 'images/snoring_emoji.png' %}" alt="mockup">
          </div>

          <!-- if not loading, display placeholder -->
          <div x-show="!loadingSleepSessions" class="mt-12">
            <p class="text-2xl text-center text-slate-600">No sleep sessions selected.</p>
            <p class="mt-8 text-center text-slate-600">Use the search bar to search by Patient ID and select sleep sessions to view.</p>
          </div>

          <!-- if loading, display spinner -->
          <div class="mt-12" x-show="loadingSleepSessions">
            <div
              role="status"
              class="w-1/2 mx-auto flex justify-center items-center"
            >
              <svg aria-hidden="true" class="inline mx-auto w-10 h-10 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading Sleep Sessions...</span>
            </div>
            <p class="mt-6 text-center text-slate-600">Loading Sleep Sessions...</p>
          </div>
          
        </div>

        <!-- audio controls -->
        <div
          x-show="sleepSessions.length"
          @keydown.tab="playAndStop"
          @click="playAndStop"
          class="flex items-center justify-center transition duration-200 ease-in-out"
        >
          <div x-show="!currentlyPlaying" class="bg-opacity-50 rounded-full p-0.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="bg-amber-300 fill-white w-8 h-8 p-1 rounded cursor-pointer block float-left mr-3 ml-1"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
              </svg>
          </div>
          <div
            x-show="currentlyPlaying"
            class="bg-opacity-50 rounded-full p-0.5"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="bg-amber-300 fill-white w-8 h-8 p-1 rounded cursor-pointer block float-left mr-3 ml-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 7.5A2.25 2.25 0 017.5 5.25h9a2.25 2.25 0 012.25 2.25v9a2.25 2.25 0 01-2.25 2.25h-9a2.25 2.25 0 01-2.25-2.25v-9z" />
            </svg>
          </div>
        </div>
        <!-- end audio controls -->

        <!-- start sleep session graphs -->
        <template x-for="session in sleepSessions">
          <div>
            <div>
              <span x-text="'Session ' +  session.id + ': ' + new Date(session.device_start_time).toLocaleDateString()"></span>
            </div>
            <div
              :id="$id('sleep-session')"
              class="sleep-session h-[48] pt-1" 
              style="overflow-x:scroll;position:relative">
            </div>
          </div>
        </template>
        <!-- end sleep session graphs -->

      </div>
      <!-- end main container -->

    </div>

  {% else %}

    <div class="flex container mx-auto">
      <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 pt-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
          <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
              Understand your patients' snoring behavior
            </h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
              Collect data using the Snorpheus system and visualize the results in an easy to use online portal.
            </p>

            <a
              href="{% url 'account_login' %}"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
            >
              {% translate "Sign In" %}
            </a>
          </div>
          <div class="lg:mt-0 lg:col-span-5 lg:flex">
              <img src="{% static 'images/snoring-blue.png' %}" alt="mockup">
          </div>
        </div>
      </section>
    </div>

  {% endif %}
  

{% endblock content %}

{% block inline_javascript %}
  <script>
    var media_url = "{% get_media_prefix %}";
  </script>
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}

